name: Publish
on:
  workflow_call:
    inputs:
      platforms:
        description: "A comma-separated list of platforms for which to build the image. By default the list of platforms is derived from the downloaded artifacts."
        type: string
        required: false
      artifact-pattern:
        description: "Glob pattern of the artifacts to be downloaded. All artifacts are merged. Pass an empty string to disable artifact downloading."
        type: string
        default: "${{ github.event.repository.name }}-*"
        required: false
      path:
        description: "Path where the artifacts will be downloaded."
        type: string
        required: false
        default: "build"
      image:
        description: "The name of the image in the GitHub Container Registry"
        type: string
        required: false

permissions:
  contents: read
  packages: write

jobs:
  publish:
    name: Publish Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out Code
        uses: actions/checkout@v6
      - name: Download Artifcats
        if: ${{ inputs.artifact-pattern && inputs.artifact-pattern != 'false' }}
        uses: actions/download-artifact@v7
        with:
          path: ${{ inputs.path }}
          pattern: ${{ inputs.artifact-pattern }}
          merge-multiple: true
      - name: Get Build Platforms
        id: platforms
        run: |
          if [[ "${{ inputs.platforms }}" ]]; then
            echo "platforms=${{ inputs.platforms }}" >> "$GITHUB_OUTPUT"
          else
            echo -n "platforms=" >> "$GITHUB_OUTPUT"
            find "$DIR" -mindepth 2 -maxdepth 2 -type d | sed "s%^$DIR/%%" | paste -sd ',' - >> "$GITHUB_OUTPUT"
          fi
        env:
          DIR: ./${{ inputs.path }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker Meta
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ inputs.image || github.repository }}
          tags: |
            type=edge,enable={{is_default_branch}}
            type=semver,pattern=v{{major}},enable=${{ !startsWith(github.ref, 'refs/tags/v0.') }}
            type=semver,pattern=v{{major}}.{{minor}}
            type=semver,pattern=v{{version}}
      - name: Build Annotations
        id: annotations
        run: |
          echo -n "list=" >> "$GITHUB_OUTPUT"
          echo "$DOCKER_METADATA_OUTPUT_LABELS" sed '/^$/d' | sed 's/^/annotation-index./' | jq -rRn '[inputs] | join(",")' >> "$GITHUB_OUTPUT"
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          provenance: false
          platforms: ${{ steps.platforms.outputs.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          outputs:
            type=registry,${{ steps.annotations.outputs.list }}
